@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

* {
    font-family: 'Outfit', sans-serif;
  }

.prata-regular {
    font-family: 'Prata', serif;
    font-weight: 400;
    font-style: normal;
  }


::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 640px) {
    a.active {
      background-color: black;
      color: white;
    }
  }


  .input-field {
    @apply border border-gray-300 rounded-lg py-2 px-4 w-full focus:outline-none focus:ring-2 focus:ring-green-400;
  }